* {
    margin-top: 10px;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: #96ADC8;
}

hr{ 
    height: 3px;
    width: 750px;
    border-color: black;
    fill: black;
}

img {
    border-radius: 2rem;
}

img:hover {
	cursor: pointer;
	border: 5px solid;
}

.pictures {
    display: flex;
    gap: 50px;
	flex-wrap: wrap;
}
